src/main/java/cn/edu/nuc/ssm/webService/alidateEmail/ValidateEmailWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WebXml.com.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://WebXml.com.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;a href="http://www.webxml.com.cn/" target="_blank"&gt;WebXml.com.cn&lt;/a&gt; &lt;strong&gt;Email地址验证 WEB 服务&lt;/strong&gt;，通过查找给定的电子邮件域的邮件服务器和通过向邮件服务器发送数据来判断电子邮件地址正确与否。此Email地址验证Web Service请不要用于任何商业目的，若有需要请&lt;a href="http://www.webxml.com.cn/zh_cn/contact_us.aspx" target="_blank"&gt;联系我们&lt;/a&gt;，欢迎技术交流。 QQ：8409035&lt;br /&gt;&lt;strong&gt;使用本站 WEB 服务请注明或链接本站：http://www.webxml.com.cn/ 感谢大家的支持&lt;/strong&gt;！&lt;br /&gt;&lt;br /&gt;&amp;nbsp;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WebXml.com.cn/">
      <s:element name="ValidateEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateEmailAddressResult" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailAddressPro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="theEmailPort" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEmailAddressProResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateEmailAddressProResult" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="unsignedByte" type="s:unsignedByte" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEmailAddress" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressProSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEmailAddressPro" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressProSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEmailAddressProResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressHttpGetIn">
    <wsdl:part name="theEmail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:unsignedByte" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressProHttpGetIn">
    <wsdl:part name="theEmail" type="s:string" />
    <wsdl:part name="theEmailPort" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressProHttpGetOut">
    <wsdl:part name="Body" element="tns:unsignedByte" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressHttpPostIn">
    <wsdl:part name="theEmail" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:unsignedByte" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressProHttpPostIn">
    <wsdl:part name="theEmail" type="s:string" />
    <wsdl:part name="theEmailPort" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEmailAddressProHttpPostOut">
    <wsdl:part name="Body" element="tns:unsignedByte" />
  </wsdl:message>
  <wsdl:portType name="ValidateEmailWebServiceSoap">
    <wsdl:operation name="ValidateEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br /&gt;&lt;h3&gt;验证 Email 地址是否正确&lt;/h3&gt;&lt;p&gt;输入参数：EmailAddress = Email 地址（默认SMTP端口25），返回数据： Byte 字节。返回值： 0 = 请重新验证；1 = 邮件地址合法；2 = 只是域名正确；3 = 一个未知错误；4 = 邮件服务器没有找到；5 = 电子邮件地址错误；6 = 免费用户验证超过数量（50次/24小时）；7 = 商业用户不能通过验证&lt;/p&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailAddressSoapIn" />
      <wsdl:output message="tns:ValidateEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailAddressPro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br /&gt;&lt;h3&gt;验证 Email 地址是否正确&lt;/h3&gt;&lt;p&gt;输入参数：EmailAddress = Email 地址，theEmailPort = SMTP端口（Integer），返回数据： Byte 字节。返回值同 ValidateEmailAddress&lt;/p&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailAddressProSoapIn" />
      <wsdl:output message="tns:ValidateEmailAddressProSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ValidateEmailWebServiceHttpGet">
    <wsdl:operation name="ValidateEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br /&gt;&lt;h3&gt;验证 Email 地址是否正确&lt;/h3&gt;&lt;p&gt;输入参数：EmailAddress = Email 地址（默认SMTP端口25），返回数据： Byte 字节。返回值： 0 = 请重新验证；1 = 邮件地址合法；2 = 只是域名正确；3 = 一个未知错误；4 = 邮件服务器没有找到；5 = 电子邮件地址错误；6 = 免费用户验证超过数量（50次/24小时）；7 = 商业用户不能通过验证&lt;/p&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailAddressHttpGetIn" />
      <wsdl:output message="tns:ValidateEmailAddressHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailAddressPro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br /&gt;&lt;h3&gt;验证 Email 地址是否正确&lt;/h3&gt;&lt;p&gt;输入参数：EmailAddress = Email 地址，theEmailPort = SMTP端口（Integer），返回数据： Byte 字节。返回值同 ValidateEmailAddress&lt;/p&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailAddressProHttpGetIn" />
      <wsdl:output message="tns:ValidateEmailAddressProHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ValidateEmailWebServiceHttpPost">
    <wsdl:operation name="ValidateEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br /&gt;&lt;h3&gt;验证 Email 地址是否正确&lt;/h3&gt;&lt;p&gt;输入参数：EmailAddress = Email 地址（默认SMTP端口25），返回数据： Byte 字节。返回值： 0 = 请重新验证；1 = 邮件地址合法；2 = 只是域名正确；3 = 一个未知错误；4 = 邮件服务器没有找到；5 = 电子邮件地址错误；6 = 免费用户验证超过数量（50次/24小时）；7 = 商业用户不能通过验证&lt;/p&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailAddressHttpPostIn" />
      <wsdl:output message="tns:ValidateEmailAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailAddressPro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br /&gt;&lt;h3&gt;验证 Email 地址是否正确&lt;/h3&gt;&lt;p&gt;输入参数：EmailAddress = Email 地址，theEmailPort = SMTP端口（Integer），返回数据： Byte 字节。返回值同 ValidateEmailAddress&lt;/p&gt;&lt;br /&gt;</wsdl:documentation>
      <wsdl:input message="tns:ValidateEmailAddressProHttpPostIn" />
      <wsdl:output message="tns:ValidateEmailAddressProHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidateEmailWebServiceSoap" type="tns:ValidateEmailWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateEmailAddress">
      <soap:operation soapAction="http://WebXml.com.cn/ValidateEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailAddressPro">
      <soap:operation soapAction="http://WebXml.com.cn/ValidateEmailAddressPro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidateEmailWebServiceSoap12" type="tns:ValidateEmailWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateEmailAddress">
      <soap12:operation soapAction="http://WebXml.com.cn/ValidateEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailAddressPro">
      <soap12:operation soapAction="http://WebXml.com.cn/ValidateEmailAddressPro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidateEmailWebServiceHttpGet" type="tns:ValidateEmailWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ValidateEmailAddress">
      <http:operation location="/ValidateEmailAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailAddressPro">
      <http:operation location="/ValidateEmailAddressPro" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidateEmailWebServiceHttpPost" type="tns:ValidateEmailWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ValidateEmailAddress">
      <http:operation location="/ValidateEmailAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEmailAddressPro">
      <http:operation location="/ValidateEmailAddressPro" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidateEmailWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;a href="http://www.webxml.com.cn/" target="_blank"&gt;WebXml.com.cn&lt;/a&gt; &lt;strong&gt;Email地址验证 WEB 服务&lt;/strong&gt;，通过查找给定的电子邮件域的邮件服务器和通过向邮件服务器发送数据来判断电子邮件地址正确与否。此Email地址验证Web Service请不要用于任何商业目的，若有需要请&lt;a href="http://www.webxml.com.cn/zh_cn/contact_us.aspx" target="_blank"&gt;联系我们&lt;/a&gt;，欢迎技术交流。 QQ：8409035&lt;br /&gt;&lt;strong&gt;使用本站 WEB 服务请注明或链接本站：http://www.webxml.com.cn/ 感谢大家的支持&lt;/strong&gt;！&lt;br /&gt;&lt;br /&gt;&amp;nbsp;</wsdl:documentation>
    <wsdl:port name="ValidateEmailWebServiceSoap" binding="tns:ValidateEmailWebServiceSoap">
      <soap:address location="http://www.webxml.com.cn/WebServices/ValidateEmailWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidateEmailWebServiceSoap12" binding="tns:ValidateEmailWebServiceSoap12">
      <soap12:address location="http://www.webxml.com.cn/WebServices/ValidateEmailWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidateEmailWebServiceHttpGet" binding="tns:ValidateEmailWebServiceHttpGet">
      <http:address location="http://www.webxml.com.cn/WebServices/ValidateEmailWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidateEmailWebServiceHttpPost" binding="tns:ValidateEmailWebServiceHttpPost">
      <http:address location="http://www.webxml.com.cn/WebServices/ValidateEmailWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>